* {
    padding: auto;
   
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    padding: 16px 120px;
}

header input {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    border-radius: 8px;
    font-size: 18px;
}


#tarefas {
    padding: 60px 120px;

}


#tarefas h2 {
    position: relative;
    font-size: 32px;
    margin-bottom: 24px;
}


#tarefas h2 button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    height: 46px;
    border-radius: 5px;
    background-color: blueviolet;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0 60px;
    cursor: pointer;
    transition-duration: 200ms;

}

#tarefas h2 button:hover {
    background-color: indigo;
}


#tarefas h6 {
    text-align: center;
    margin-top: 32px;
    font-size: 18px;
    color: #666;
}


#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(192, 190, 190, 0.5);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms;
} 

.modal {
    width: 400px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 8px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 200ms;
}

#overlay.active{
    visibility: visible;
    opacity: 1;
}

.modal.active{
    visibility: visible;
    opacity: 1;
}


.modal h3 {
    font-size: 24px;
    margin-bottom: 23px;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.modal form h3{
    font-size: 24px;
    margin-bottom: 26px;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}



.modal form h3 box-icon {
   fill: #999;
   cursor: pointer;
    
}


.modal form h3 box-icon:hover{
   fill: blueviolet;
   cursor: pointer;
    
}

.modal form label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    letter-spacing: .75px;
    margin-bottom: 8px;

}



.modal form input, .modal form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 16px;
    padding-left: 10px;
}


.modal form input:focus , .modal form textarea:focus {
    font-family: Arial, Helvetica, sans-serif;
    border-color: blueviolet;
}


.modal form button {
    width: 100%;
    background-color: blueviolet;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    border: none;
}


.modal form button:hover {
    background-color: indigo;
}
